body {
    background-color: rgb(35, 35, 35);
}

h1 {
color: white;
margin-left: 20px;
}

h2 {
    color: white;
    margin-left: 20px;
}

div {
    color: white;
}

a {
    color: rgb(158, 245, 255);
}